
@model Hairdresser.Entities.Personnel



<form asp-controller="Users" asp-action="PersonelEkle" method="post">
    <div asp-validation-summary="All"></div>

    <div class="mb-3">
        <label asp-for="personnelID" class="form-label">Personnel ID Giriniz:</label>
        <input asp-for="personnelID" class="form-control">
        <span asp-validation-summary="personnelID"></span>
    </div>
    <div class="mb-3">
        <label asp-for="personnelName" class="form-label"> Personel Ad Soyad Giriniz:</label>
        <input asp-for="personnelName" class="form-control">
        <span asp-validation-summary="personnelName"></span>
    </div>

    <div class="mb-3">
        <label asp-for="personnelEmail" class="form-label"> Personel Email Giriniz:</label>
        <input asp-for="personnelEmail" class="form-control">
        <span asp-validation-summary="personnelEmail"></span>
    </div>
    <div class="mb-3">
        <label asp-for="personnelPassword" class="form-label"> Personel Sifre Giriniz:</label>
        <input asp-for="personnelPassword" class="form-control">
        <span asp-validation-summary="personnelPassword"></span>
    </div>

    <div class="mb-3">
        <label asp-for="availableHours" class="form-label">Calısma Saatleri:</label>
        <input asp-for="availableHours" class="form-control">
        <span asp-validation-summary="availableHours"></span>

    </div>

    <div class="mb-3">
        <label asp-for="salonID" class="form-label">Adres Giriniz:</label>
        <input asp-for="salonID" class="form-control">
        <span asp-validation-summary="salonID"></span>
    </div>

    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>